#gameBoard {
	flex: 2;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

/* make tables use flex layout instead of table layout to maintain 1:1 size throughout game board */
#gameBoard table,
#gameBoard tr {
	display: flex;
	gap: 2px;
}

#gameBoard table {
	flex: 1;
	flex-direction: column;
	overflow: auto;
}

#gameBoard tr {
	flex: 1;
	flex-direction: row;
}

#gameBoard tr td {
	width: 0px; /* keeps all tiles the same size no matter what (idk why this works) */
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	white-space: pre-line; /* break spaces and preserve newlines, source: mdn */
	border: 4px solid transparent;
	user-select: none; /* prevent text selection in tiles because it interferes with tile selection */
	min-height: 40px;
}

#gameBoard tr td.selected {
	border-color: coral;
	box-shadow: inset 0px 0px 12px 0px #00000050; /* helps better see selections */
}
