#game-setup {
	text-align: center;
	width: 100%;
	margin-bottom: 1em;
}

#setup-form {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content: center;
	gap: 1em;
	padding: 0 1em;
}

#setup-form fieldset {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 0.5em;
	gap: 0.5em;
	background: #f8f8f8;
	border-radius: 0.3em;
	border: none;
	box-shadow: 0 0 4px 0px #0004;
}

#setup-form label {
	font-weight: 700;
}

#setup-form button {
	grid-column: span 4;
}
