#highScore {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
}

#highScores {
	border-collapse: separate;
	border-spacing: 0 0.5em;
	max-width: 460px;
	width: 100%;
}

#highScores th {
	text-align: left;
	border-bottom: 1px solid black;
}

#name {
	flex: 2;
}

#score {
	flex: 1;
}

#deleteHsTable {
	margin-top: 1em;
}

#buttonDiv {
	display: flex;
	flex: 1;
	align-items: flex-start;
}
