body,
html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: "Segoe UI", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
}

h1 {
	text-align: center;
	margin: 0;
}

header,
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 4em;
}

footer {
	font-size: 13px;
}

main {
	display: flex;
	flex-direction: row;
	flex: 1;
	overflow: auto;
	padding: 1em;
	gap: 1em;
}

#gameBoard p {
	text-align: center;
}

button,
input,
select {
	border: 1px solid #bbb;
	border-radius: 0.25em;
	font-family: inherit;
	padding: 0.25em;
}

button:focus,
input:focus,
select:focus {
	outline: 1px solid black;
}

input[type="range"] {
	padding: 0.25em 0;
}

input:invalid {
	border-color: red;
	background-color: #ffeeee;
}