@media (max-width: 650px) {
	h1 {
		font-size: 1.5em;
	}

	#setup-form {
		grid-template-columns: repeat(2, 1fr);
	}

	#setup-form button {
		grid-column: span 2;
	}

	main {
		flex-direction: column;
	}
}
